{{- if .Values.auth.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  selector:
    app: auth-service
  ports:
    - port: {{ .Values.auth.port }}
      targetPort: {{ .Values.auth.port }}
      nodePort: {{ .Values.auth.nodePort }}
{{- end }}
