apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      containers:
        - name: portainer
          image: portainer/portainer-ce:latest
          args:
            - "-H"
            - "tcp://0.0.0.0:9001"
          ports:
            - containerPort: 9000
            - containerPort: 9001
